extends ../layout

block content
    .container.my-5
        .row
            .col.col-4
                a.btn.btn-primary.my-5(href='/bicicletas/create') Nueva Bicicleta
            .col.col-12
                h1.text-white.text-center(style="font-size:5.8rem; background-color: #7c42007e;")  Lista de bicis disponibles
            .col.col-12
                table.table.text-white.bg-dark
                    thead
                        tr
                            th(scope='col') #
                            th(scope='col') Código
                            th(scope='col') Color
                            th(scope='col') Modelo
                            th(scope='col') Ubicacion
                            th(scope='col') 
                            th(scope='col') 
                            //- th(scope='col') 
                    tbody
                        each bici in bicis
                            tr
                                td(scope='row')= bici._id
                                td= bici.code
                                td= bici.color
                                td= bici.modelo
                                td= bici.ubicacion
                                td
                                    a.btn.btn-secondary(href='bicicletas/'+ bici._id +'/update') Editar
                                td
                                    form.inline(method='post' action='bicicletas/' + bici.id + '/delete')
                                        input(type='hidden' name='id' value=bici._id)
                                        button.btn.btn-secondary(type='submit' name='submit_param' value='submit_value' class='btn') Eliminar
                                //- td  
                                //-     a.btn.btn-secondary(href='bicicletas/'+ bici.id +'/views') Ver detalle
